* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navs {
  width: 331px;
  height: 700.22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.navs_top {
  width: 331px;
  height: 112px;
  background: #121212;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navs_top_ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 80px;
  width: 300px;
}
.navs_top_ul_li {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}
.navs_top_ul_li_text {
  width: 45px;
  height: 26.59px;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 700;
  font-family: Arial;
  color: white;
}
.navs_top_ul_li_img {
  background: url(../icons/Img.png);
  height: 24px;
  width: 24px;
  background-size: cover;
}
.navs_bottom {
  width: 331px;
  height: 559.22px;
  background: #121212;
  border-radius: 8px;
}
.navs_bottom_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navs_bottom_center_div {
  width: 315px;
  height: 139.98px;
  border-radius: 8px;
  background: #242424;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.navs_bottom_center_div_text1 {
  margin-left: 20px;
  width: 172px;
  height: 26px;
  font-weight: 700;
  font-size: 15px;
  line-height: 25.6px;
  font-family: Arial;
  color: #FFFFFF;
}
.navs_bottom_center_div_text2 {
  width: 142px;
  margin-left: 20px;
  height: 24px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  color: #FFFFFF;
}
.navs_bottom_center_div_button {
  width: 126.66px;
  margin-left: 20px;
  height: 32px;
  border-radius: 500px;
  border: none;
  line-height: 14.95px;
  font-size: 13px;
  font-weight: 700;
  font-family: Arial;
}
.navs_bottom_top {
  width: 331px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navs_bottom_top_right {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navs_bottom_top_right_img {
  background: url(../icons/plus.png);
  height: 16px;
  width: 16px;
}
.navs_bottom_top_left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 150px;
}
.navs_bottom_top_left_text {
  width: 89px;
  height: 17px;
  font-weight: 700;
  font-size: 15px;
  line-height: 17.5px;
  font-family: Arial;
  color: white;
}
.navs_bottom_top_left_Img {
  background: url("../icons/menu.png");
  height: 24px;
  width: 24px;
  background-size: cover;
}

.elemenst:hover {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  border-radius: 6px;
  min-block-size: 56px;
  z-index: 1;
  color: var(--text-base, #000000);
  background-color: hsla(0deg, 0%, 100%, 0.07);
  width: 320px;
  --animation-speed: 0ms;
  --animation-ease: ease;
  --bg-inset-change-press: -4px;
  cursor: pointer;
}

.modal_for_edit_top:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  height: 40px;
  position: relative;
  border-radius: 6px;
  z-index: 1;
  color: var(--text-base, #000000);
  background-color: hsla(0deg, 0%, 100%, 0.07);
  width: 212px;
  --animation-speed: 0ms;
  --animation-ease: ease;
  --bg-inset-change-press: -4px;
  cursor: pointer;
}

.modal_for_edit_bottom:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  height: 40px;
  position: relative;
  border-radius: 6px;
  z-index: 1;
  color: var(--text-base, #000000);
  background-color: hsla(0deg, 0%, 100%, 0.07);
  width: 212px;
  --animation-speed: 0ms;
  --animation-ease: ease;
  --bg-inset-change-press: -4px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
