{% extends 'header.html' %}
{% block css %}
    <link rel="stylesheet" href="../../static/index/style/style.min.css">
{% endblock %}
{% block content %}
    <div class="section">
        <div class="section_top">
            <div class="section_top_img">

            </div>
            <div class="section_top_center">

            </div>
            <div class="section_top_right">
                {% if user %}
                    {% if user.admin %}
                        <a style="text-decoration: none" href="{{ url_for('admin') }}">
                            <div style="width: 30px;" class="section_top_right_sign">
                                Users
                            </div>
                        </a>
                        <a style="text-decoration: none" href="{{ url_for('mymus') }}">
                            <div class="section_top_right_log" style="width: 100px; height: 40px;">
                                My Musics
                            </div>
                        </a>
                    {% endif %}
                    <div class="yumoloq"
                         style="height: 30px; width: 30px; border-radius: 50%; background: rgba(255,255,255,0.11); display: flex; align-items: center; justify-content: center;">
                        <svg role="img" height="16" width="16" aria-hidden="true" data-testid="user-icon"
                             viewBox="0 0 16 16" data-encore-id="icon" class="Svg-sc-ytk21e-0 haNxPq">
                            <path fill="#fff"
                                  d="M6.233.371a4.388 4.388 0 0 1 5.002 1.052c.421.459.713.992.904 1.554.143.421.263 1.173.22 1.894-.078 1.322-.638 2.408-1.399 3.316l-.127.152a.75.75 0 0 0 .201 1.13l2.209 1.275a4.75 4.75 0 0 1 2.375 4.114V16H.382v-1.143a4.75 4.75 0 0 1 2.375-4.113l2.209-1.275a.75.75 0 0 0 .201-1.13l-.126-.152c-.761-.908-1.322-1.994-1.4-3.316-.043-.721.077-1.473.22-1.894a4.346 4.346 0 0 1 .904-1.554c.411-.448.91-.807 1.468-1.052zM8 1.5a2.888 2.888 0 0 0-2.13.937 2.85 2.85 0 0 0-.588 1.022c-.077.226-.175.783-.143 1.323.054.921.44 1.712 1.051 2.442l.002.001.127.153a2.25 2.25 0 0 1-.603 3.39l-2.209 1.275A3.25 3.25 0 0 0 1.902 14.5h12.196a3.25 3.25 0 0 0-1.605-2.457l-2.209-1.275a2.25 2.25 0 0 1-.603-3.39l.127-.153.002-.001c.612-.73.997-1.52 1.052-2.442.032-.54-.067-1.097-.144-1.323a2.85 2.85 0 0 0-.588-1.022A2.888 2.888 0 0 0 8 1.5z"></path>
                        </svg>
                    </div>

                {% else %}
                    <a style="text-decoration: none" href="{{ url_for('reg') }}">
                        <div class="section_top_right_sign">
                            Sign up
                        </div>
                    </a>
                    <a style="text-decoration: none" href="{{ url_for('login') }}">
                        <div class="section_top_right_log">
                            Log in
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="scrool" style="height: 722px;">
            <div class="section_center">
                <div class="section_center_elements">

                    <div class="section_center_elements_element" style="flex-wrap: wrap;">
                        {% for album in albums %}
                            <a href="{{ url_for('album_name',name=album.name) }}" style="text-decoration: none">
                                <div class="section_center_elements_element_element" style="margin-top: 10px;">
                                    <div class="section_center_elements_element_element_div">
                                        <div class="section_center_elements_element_element_div_top">
                                            <div class="section_center_elements_element_element_div_top_background"
                                                 style="background: url({{ album.photo }}); background-size: cover;"></div>
                                        </div>
                                        <div class="section_center_elements_element_element_div_bottom">
                                            <div class="section_center_elements_element_element_div_bottom_text1">
                                                {{ album.name }}
                                            </div>
                                            <div class="section_center_elements_element_element_div_bottom_text2">
                                                {{ album.caption }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}


                    </div>
                </div>
            </div>
            <div class="madalni_for_profile_edit_or_sign_out"
                 style="position: fixed; right: 30px; width: 150px; height: 100px; display: none; justify-content: space-around;align-items: center;background: #282828;z-index: 5;top: 150px; border-radius: 6px;flex-direction: column;">
                <div class="topcha"
                     style="height: 40px;width: 100%; display: flex; align-items: center;justify-content: center">
                    <h1 style="font-size: 20px; color: #FFFFFF">Profile</h1>
                </div>
                <div class="pascha"
                     style="height: 40px;width: 100%; display: flex; align-items: center;justify-content: center">
                    <a style="text-decoration: none;" href="{{ url_for('singout') }}"><h1
                            style="font-size: 20px; color: #FFFFFF"> Sign Out</h1>
                    </a>
                </div>
            </div>
            <style>
                .madalni_for_profile {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    position: fixed;
                    left: 370px;
                    top: 0;
                    background: rgba(167, 167, 167, 0.24);
                    z-index: 1;
                    width: 1180px;
                    height: 100%;

                }

                .madalni_for_album_profile {
                    width: 450px;
                    height: 550px;
                    background: black;
                    border-radius: 6px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                }


            </style>
            <div class="madalni_for_profile">
                <form action="{{ url_for('profile') }}" method="post" enctype="multipart/form-data">
                    <div class="madalni_for_album_profile" style="position: relative">
                        <i class="fa-solid fa-xmark cancelenprofile"
                           style="color: red; font-size: 30px; position: absolute; top: 0; right: 0;"></i>
                        <div class="madalni_for_album_center_top">
                            <div class="madalni_for_album_center_top_element"
                                 style="width: 400px; height: 250px; border: 0.5px solid white; border-radius: 5px; display: flex; justify-content: center; align-items: center;position: relative; ">
                                <div class="divs"
                                     style="background: url(https://icones.pro/wp-content/uploads/2021/08/icone-photo-jaune.png); background-size: cover; width: 280px;height: 200px; background-position: center; position: absolute ">
                                </div>
                                <img class="madalni_for_album_center_top_element_rasm_profile" src="{{ user.photo }}"
                                     style="display: flex; opacity: 1; width: 400px; height: 250px; position: absolute; left: 0;top: 0; object-fit: cover; z-index: 1">
                                <input type="file" name="photo"
                                       class="madalni_for_album_center_top_element_rasm_input_profile"
                                       style="position: absolute; top: 0;left: 0; width: 380px ; height: 220px; z-index: 1; opacity: 0;display: flex">


                            </div>
                        </div>
                        <div class="madalni_for_album_center_center"
                             style="width: 400px;height: 50px;display: flex; justify-content: space-around; align-items: center; ">
                            <div class="madalni_for_album_center_center_top"
                                 style="display: flex; justify-content: space-around; align-items: center; flex-direction: column">
                                <div class="madalni_for_album_center_center_top_h1"
                                     style="font-size: 17px; font-family: Arial; font-weight: 500; color: #FFFFFF; width:  156.4px;">
                                    Your name
                                </div>
                                <input name="name"
                                     value="{{ user.name }}"  style="width: 156.4px; height: 25px;border-radius: 6px; border: none; outline: none;font-size: 14px ;font-family: Arial;"
                                       type="text">
                            </div>
                            <div class="madalni_for_album_center_center_bottom"
                                 style="display: flex; justify-content: space-around; align-items: center; flex-direction: column">
                                <div class="madalni_for_album_center_center_top_h1"
                                     style="font-size: 17px; font-family: Arial; font-weight: 500; color: #FFFFFF; width:  156.4px;">
                                    Your password
                                </div>
                                <input name="password"
                                       style="width: 156.4px; height: 25px;border-radius: 6px; border: none; outline: none;font-size: 14px ;font-family: Arial;"
                                       type="text">
                            </div>
                        </div>
                        <div class="madalni_for_album_center_bottom"
                             style="width: 400px;height: 100px;display: flex; justify-content: space-around; align-items: center; ">
                            <div class="madalni_for_album_center_bottom_top">
                                <div class="madalni_for_album_center_center_top_h1"
                                   style="font-size: 17px; font-family: Arial; font-weight: 500; color: #FFFFFF; width:  156.4px;">
                                    Your username
                                </div>
                                <input name="username"
                                   value="{{ user.gmail }}"     style="width: 156.4px; height: 25px;border-radius: 6px; border: none; outline: none;font-size: 14px ;font-family: Arial;"
                                       type="text">
                            </div>
                            <div class="madalni_for_album_center_bottom_botttom"
                                 style="display: flex; justify-content: space-around; align-items: center; flex-direction: column">
                                <div class="madalni_for_album_center_center_top_h1"
                                     style="font-size: 17px; font-family: Arial; font-weight: 500; color: #FFFFFF; width:  156.4px;">
                                    Edit
                                </div>
                                <button class="madalni_button_button"
                                        style="border: none; border-radius: 5px; width: 156px;height: 30px; background: #1ED760; display: flex;justify-content: center; align-items: center; font-weight: 500; font-family: Arial; font-size: 17px">
                                    Edit
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('.yumoloq').addEventListener('click', () => {
            document.querySelector('.madalni_for_profile_edit_or_sign_out').style.display = `flex`
        })
        document.querySelector('.scrool').addEventListener('click', () => {
            document.querySelector('.madalni_for_profile_edit_or_sign_out').style.display = `none`
        })
        document.querySelector('.topcha').addEventListener('click', () => {
            document.querySelector('.madalni_for_profile').style.display = `flex`
        })
        document.querySelector('.cancelenprofile').addEventListener('click', () => {
            document.querySelector('.madalni_for_profile').style.display = `none`
        })
        let inputss1s2profile = document.querySelector('.madalni_for_album_center_top_element_rasm_input_profile'),
            rassmchasprof = document.querySelector('.madalni_for_album_center_top_element_rasm_profile')
        inputss1s2profile.addEventListener('change', () => {
            let file = inputss1s2profile.files[0];
            const reader = new FileReader();
            reader.onload = function (e) {
                const content = e.target.result;
                rassmchasprof.src = `${content}`
                rassmchasprof.style.display = `flex`
                rassmchasprof.style.opacity = `1`
            }
            reader.readAsDataURL(file);

        });
    </script>
{% endblock %}