{% extends 'header.html' %}
{% block css %}

{% endblock %}
{% block content %}
    <div class="section" style="width: 1170px;height: 100%; background: #000;">
        <div class=".section_table" style="display: flex;flex-direction: column;width: 100%; height: 100%;">
            <div class="section_table_top"
                 style="position: fixed; top: 0; width: 1170px; height: 60px; background: #000; display: flex; justify-content: center;align-items: center">
                <div class="section_table_top_divs"
                     style="display: flex; justify-content: space-around; align-items: center;width: 100%;">
                    <div class="section_table_top_divs_name" style="width: 89px;
    height: 17px;
    font-weight: 700;
    font-size: 15px;
    line-height: 17.5px;
    font-family: Arial;
    color: #fff;">Users name
                    </div>
                    <div class="section_table_top_divs_username" style="width: 200px;
    height: 17px;
    font-weight: 700;
    font-size: 15px;
    line-height: 17.5px;
    font-family: Arial;
    color: #fff;">Users username or gmail
                    </div>
                    <div class="section_table_top_divs_photo" style="width: 120px;
    height: 17px;
    font-weight: 700;
    font-size: 15px;
    line-height: 17.5px;
    font-family: Arial;
    color: #fff;">Users photo
                    </div>
                    <div class="section_table_top_divs_admin" style="width: 100px;
    height: 17px;
    font-weight: 700;
    font-size: 15px;
    line-height: 17.5px;
    font-family: Arial;
    color: #fff;">Users admin
                    </div>
                    <div class="section_table_top_divs_artist" style="width: 90px;
    height: 17px;
    font-weight: 700;
    font-size: 15px;
    line-height: 17.5px;
    font-family: Arial;
    color: #fff;">Users artist
                    </div>
                    <div class="section_table_top_divs_add" style=" width: 90px;
                         height: 17px;
                         font-weight: 700;
                         font-size: 15px;
                         line-height: 17.5px;
                         font-family: Arial;
                         color: #fff;
                    ">Settings
                    </div>
                </div>
            </div>
            <div class="section_table_bottom"
                 style="width: 1170px; height: 700px; border-radius: 6px; background: #242424; position: absolute;top: 60px; display: flex;align-items: flex-start;justify-content: space-around;">
                <div class="section_table_bottom_name" style=" width: 200px;
                         height: 17px;
                         font-weight: 700;
                         font-size: 15px;
                         line-height: 17.5px;
                         font-family: Arial;
                         color: #fff;
                         background: #1db954;
                    ">Shahzod omonboyev
                </div>
                <div class="section_table_bottom_username" style=" width: 200px;
                         height: 17px;
                         font-weight: 700;
                         font-size: 15px;
                         line-height: 17.5px;
                         font-family: Arial;
                         background: #FFFFFF;
                         color: #fff;
                    ">supercoders.uz
                </div>
                <div class="section_table_bottom_photo" style="width: 200px;
background: yellow; height: 17px;"></div>
                <div class="section_table_bottom_admin" style=" width: 200px;
                         height: 17px;
                         font-weight: 700;
                         font-size: 15px;
                         line-height: 17.5px;
                         font-family: Arial;
                         color: #fff;
                         background: aqua;
                    "><select name="" id="">
                    <option value="">True</option>
                    <option value="">False</option>
                </select></div>
                <div class="section_table_bottom_artist" style="width: 200px;"><select name="" id="">
                    <option value="">True</option>
                    <option value="">False</option>
                </select></div>
                <div class="section_table_bottom_add" style="width: 200px; height: 25px;">
                    Add
                </div>
            </div>
        </div>
    </div>
{% endblock %}